.brand-logo-text,
.authorhash,
.authordiscriminator,
#currentusername {
  display: none;
}
.footercontainer {
  top: -10px;	
}
#nameplate {
  margin-left: 0px;	
  padding-right: 6px;
}
#messageboxouter {
  width: calc(100% - 87px); 	
}
textarea.materialize-textarea {
  width: 100%;	
}
